<%@gossip.comments.each do |c|%>
Commentaire :   <%= link_to c.content, gossip_comment_path(@gossip.id,c.id) %> 
<%if sess_id && c.user_id == sess_id%>

<a href="<%=  %>" class="btn" data-method="DELETE"></a>
<%= link_to 'Modifier le commentaire', edit_gossip_comment_path(@gossip.id,c.id), class: :btn %>
<%= link_to 'Supprimer le commentaire', gossip_comment_path(@gossip.id,c.id), class: :btn, data: {confirm:"Are you sure?"}, method: :delete%>
<%end%>
<br><br>
<%end%>

<%= link_to 'Page potin de ces commentaires', gossip_path(@gossip.id), class: :btn %>