<p>Author: <%= @comment.user.first_name%> <%= @comment.user.last_name%></p>
<p>Gossip: <%= @comment.gossip.title%></p>
<p>Comment: <%=@comment.content %></p>

<a href="<%= gossip_comments_path %>" class="btn">Page du gossip
</a>