<div class="container-fluid mt-4">
  <h1><%=@gossip.title%></h1>
  <div class="container-fluid">
    <div class="pt-2">
      <h3>Author : <%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %>, from <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></h3>
    </div>
    <div class="pt-3">
      <p>Content: <%=@gossip.content%></p>
      <p>Creation date: <%=@gossip.created_at%></p>
    </div>
    <%if sess_id%>

      <%if @is_user%>
        <%= link_to 'Modifier le gossip', edit_gossip_path(@gossip.id),class: :btn %>
        <%= link_to 'Supprimer le gossip', gossip_path(@gossip.id),class: :btn, data: {confirm:"Are you sure?"}, method: :delete %>
      <%end%>

      <%= link_to 'Ajouter commentaire', new_gossip_comment_path(@gossip.id),class: :btn %>

    <%end%>
    
    <%= link_to 'commentaires', gossip_comments_path(@gossip.id), class: :btn %>

    <%if sess_id.nil? %>
      <span><%=@gossip.likers.length%> likes</span>
    <%elsif @already_liked%>
      <%= link_to 'likes', gossip_likes_path(@gossip.id), class: :btn %>
    <%else%>
      <%= link_to "#{@gossip.likers.length} likes", gossip_likes_path(@gossip.id), class: :btn, style: {color: :black} %>
    <%end%>
    
    
  </div>
  <%= link_to 'Home', '/', class: :btn %>
</div>