<div class="container-fluid mt-4">
  <h1>Title : <%=@gossip.title%></h1> <br>

  <div class="list-group">

    <li class="list-group-item list-group-item-action p-4">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-3 pb-3">Author :
          <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %> </h3>
          <small class="text-muted"><%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-3"><%=@gossip.content %></p>
        <small class="text-muted"><%=@gossip.created_at%></small>
      </div>


    </li>


  </div>
  <%if sess_id%>

  <%if @is_user%>
  <%= link_to 'Modifier le gossip', edit_gossip_path(@gossip.id),class: :btn %>
  <%= link_to 'Supprimer le gossip', gossip_path(@gossip.id),class: :btn, data: {confirm:"Are you sure?"}, method: :delete %>
  <%end%>

  <%= link_to 'Ajouter commentaire', new_gossip_comment_path(@gossip.id),class: :btn %>

  <%end%>

  <%= link_to "#{@gossip.comments.length} commentaires", gossip_comments_path(@gossip.id), class: :btn %>

  <%if sess_id.nil? %>
  <span><%=@gossip.likers.length%> likes</span>
  <%elsif @already_liked%>
  <%= link_to "#{@gossip.likers.length} likes",gossip_likes_path(@gossip.id), class: :btn %>
  <%else%>
  <%= link_to "#{@gossip.likers.length} likes", gossip_likes_path(@gossip.id), class: :btn, style: {color: :black} %>
  <%end%>
  <br><br><%= link_to 'Home', '/', :class => "btn btn-primary"%>

</div>