<div class="container-fluid mt-4">
  <h1><%=@gossip.title%></h1>
  <div class="container-fluid">
    <div class="pt-2">
      <h3>Author : <%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %>, from <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></h3>
    </div>
    <div class="pt-3">
      <p>Content: <%=@gossip.content%></p>
      <p>Creation date: <%=@gossip.created_at%></p>
    </div>
    <%if session[:user_id]%>
    
    
    
    <%if @is_user%>
      <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn">Modifier le gossip</a>
      <a href="<%= gossip_path(@gossip.id) %>" class="btn" data-confirm="êtes-vous sur?" data-method="DELETE">Supprimer le gossip</a>
    
    <%end%>
    <a href="<%= new_gossip_comment_path(@gossip.id) %>" class="btn">Ajouter commentaire</a>
    <%end%>
    
    <a href="<%= gossip_comments_path(@gossip.id) %>" class="btn"><%=@gossip.comments.length%> commentaires</a>
    <%if session[:user_id].nil? %>
    <span><%=@gossip.likers.length%> likes</span>
    <%elsif @already_liked%>
    <a href="<%= gossip_likes_path(@gossip.id) %>" class="btn"> <%=@gossip.likers.length%> likes</a>
    <%else%>
    <a href="<%= gossip_likes_path(@gossip.id) %>" class="btn" style= "color: black;"> <%=@gossip.likers.length%> likes</a>
    <%end%>
    
    
  </div>
  <a href="/" class="btn">Page accueil</a>
</div>