<div class="container-fluid mt-2">
  <h1><%=@user.first_name%> <%=@user.last_name%></h1>
  <div class="containter-fluid mt-2 p-3">
    <p>Email: <%=@user.email%></p>
    <p>Age: <%=@user.age%> ans</p>
    <p>City: <%=@user.city.name%></p>
    <p>Description: <%=@user.description%></p>
  </div>
</div>